# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
build/
coverage/
**/Generated.xcconfig
**/Flutter.podspec
**/Pods/
**/.symlinks/
**/ephemeral/
**/flutter_export_environment.sh

# Platform-specific
android/
ios/
web/
windows/
macos/
linux/

# Misc
pubspec.lock
